body {
  background-image: url("/images/bg-main.webp");
  background-size: cover;
  background-color: #e4c190;
}

/*
body {
  margin: 0;                     /* מבטל רווח ברירת־מחדל של הדפדפן 
  min-height: 100vh;             /* מבטיח גובה של מסך מלא 
  background-color: #0b1220;     /* צבע גיבוי כהה במקרה שהתמונה לא נטענת 
  background-size: cover;        /* מכסה את כל המסך בלי עיוות 
  background-position: center;   /* ממקם למרכז במסכים שונים 
  background-repeat: no-repeat;  /* מונע ריפיט של התמונה 
}
  */